<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<!-- Set URL -->
		<property name = "hibernate.connection.url">jdbc:ucanaccess://D://Magán//Programok//Eclipse//ws_2023_new//db//uniname.accdb)</property>

		<!-- Set Driver Name -->
		<property name = "hibernate.connection.driver_class">net.ucanaccess.jdbc.UcanaccessDriver</property>

		<property name = "hibernate.show_sql">true</property>

	</session-factory>
</hibernate-configuration>
